<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Restaurant Recommender</title>
    <style>
        body {
            background-image: url("img.jpg");
            background-size: cover;
            background-position: center;
            color:black;
            text-align: center;
            padding: 50px; /* Adjust as needed */
        }

    </style>
</head>
<body>
    <h1>Restaurant Recommendation System</h1>
    <br>
    <form action="/recommend" method="post">
        <label for="restaurant">Enter Restaurant Name:</label>
        <input type="text" id="restaurant" name="restaurant" required>
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>
